@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


@import "tailwindcss";

a.active hr{
    display: block;
}


.prata-regular {
    font-family: "Prata", serif;
   
  }
  

  @media (max-width: 667px) {
    .active {
      color:black;
    }
  }
  